<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace=".//fragments/head :: head"></head>
    <body>

        <section data-bs-version="5.1" class="menu menu3 cid-ug0nmDUkh7" once="menu" id="menu3-b">
            <nav th:replace=".//fragments/navbar :: nav"></nav>
        </section>

        <section data-bs-version="5.1" class="features4 cid-ug13NcXIgn" id="features4-i">


            <div class="container">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong id="nombre"></strong></h4>
                    <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5" id="slogan"></h5>
                </div>
                <div class="row mt-5">
                    <div class="item features-image сol-12 col-md-6 col-lg-12">
                        <div class="item-wrapper">
                            <div class="item-img mb-3">
                                <img th:if="${session.usuariosession.foto==null}" src="./assets/images/mbr-696x391.jpg" alt="Foto Lubricentro">
                                <img th:if="${session.usuariosession.foto!=null}" th:src="${'./foto/lubriRegistro/' + session.usuariosession.id}" alt="Foto Lubricentro">
                            </div>
                            <div class="dragArea row ">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h2 class="mbr-section-subtitle mb-5 display-4 offset-lg-1">
                                        <strong th:text="'Cliente: '+${clientes.nombreCliente}" </strong> 
                                    </h2>
                                    <h3 class="mbr-section-subtitle mb-5 display-7 offset-lg-1">
                                        <strong th:text="'Patente: '+${clientes.patente}" </strong> 
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-12 offset-lg-1 mbr-form" data-form-type=""> 
                                <form th:action="@{/modificarTarjeta}" method="POST" class="mbr-form form-with-styler">
                                    <input type="hidden" th:name="id" th:value="${clientes.id}">
                                    <input type="hidden" th:name="nombreCliente" th:value="${clientes.nombreCliente}">
                                    <input type="hidden" th:name="patente" th:value="${clientes.patente}">

                                    <div class="row">
                                        <Strong class="col-lg-auto form-group bg-gradient align-content-center">Fecha de Cambio: </strong>
                                        <div data-for="name" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3 mb-3">
                                            <input type="text" th:name="marca" th:value="${clientes.fechaCarga}"
                                                   mbr-theme-style="display-4" class="form-control" value disabled="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-3 form-group bg-gradient align-content-center">Marca: </strong>
                                        <div data-for="name" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3 mb-3">
                                            <input type="text" th:name="marca" th:value="${clientes.marca}"
                                                   mbr-theme-style="display-4" class="form-control" value>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-3 form-group align-content-center">Modelo: </strong>
                                        <div data-for="name" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3 mb-3">
                                            <input type="text" th:name="modelo" th:value="${clientes.modelo}"
                                                   mbr-theme-style="display-4" class="form-control" value>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-3 form-group align-content-center">Año: </strong>
                                        <div data-for="name" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3 mb-3">
                                            <input type="number" th:name="anio" th:value="${clientes.anio}"
                                                   mbr-theme-style="display-4" class="form-control" value>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-auto col-md-6 col-sm-6 mb-3 form-group align-content-center text-primary">Kilometros Actuales:</strong>
                                        <div data-for="name" class="col-lg-6 col-md-12 col-sm-12 form-group mb-3 mb-3">
                                            <input type="number" th:name="kmActuales" th:value="${clientes.kmActuales}"
                                                   mbr-theme-style="display-4" class="form-control" value>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-5 form-group">* Filtro de Aceite</strong>
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroAceite==null || clientes.filtroAceite==false}" th:name="filtroAceite">
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroAceite!=null || clientes.filtroAceite==true}" checked="checked" th:name="filtroAceite">
                                    </div>
                                    <div class="row">
                                        <Strong class="col-lg-5 form-group">* Filtro de Aire</strong>
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroAire==null || clientes.filtroAire==false}" th:name="filtroAire">
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroAire!=null || clientes.filtroAire==true}" checked="checked" th:name="filtroAire">
                                    </div>   

                                    <div class="row">
                                        <Strong class="col-lg-5 form-group">* Filtros de Combustible</strong>
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroCombustible==null || clientes.filtroCombustible==false}" th:name="filtroCombustible">
                                        <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.filtroCombustible!=null || clientes.filtroCombustible==true}" checked="checked" th:name="filtroCombustible">
                                    </div>   
                                    <td>
                                        <div class="row">
                                            <Strong class="col-lg-5 form-group">* Aceite de Motor</strong>
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteMotor==null || clientes.aceiteMotor==false}" th:name="aceiteMotor">
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteMotor!=null || clientes.aceiteMotor==true}" checked="checked" th:name="aceiteMotor">
                                        </div>
                                        <div class="row">
                                            <Strong class="col-lg-5 form-group">* Aceite de Caja</strong>
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteCaja==null || clientes.aceiteCaja==false}" th:name="aceiteCaja">
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteCaja!=null || clientes.aceiteCaja==true}" checked="checked" th:name="aceiteCaja">
                                        </div>
                                        <div class="row">
                                            <Strong class="col-lg-5 form-group">* Aceite de Diferencial</strong>
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteDiferencial==null || clientes.aceiteDiferencial==false}" th:name="aceiteDiferencial">
                                            <input class="col-lg-6 form-group" type="checkbox" th:if="${clientes.aceiteDiferencial!=null || clientes.aceiteDiferencial==true}" checked="checked" th:name="aceiteDiferencial">
                                        </div>
                                        <div class="row">
                                            <Strong class="col-lg-auto col-md-6 col-sm-6 mb-3 form-control align-content-center bg-primary text-white">PROXIMO CAMBIO: </strong>
                                            <div data-for="name" class="col-lg-6 col-md-6 col-sm-6 form-group mb-3 mb-3 ">
                                                <input type="text" th:name="kmCambio" th:if="${clientes.kmCambio!=null}" th:value="${clientes.kmCambio}+' km'" disabled=""
                                                       mbr-theme-style="display-4" class="form-control" value>
                                            </div>
                                        </div>
                                    </td>

                                    <div class="col-12 col-md-auto mb-5 mbr-section-btn">
                                        <button type="submit" class="btn btn-secondary display-4">Actualizar valores</button>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </section>

        <div id="custom-html-13"><!-- Type valid HTML here -->

        </div>

        <section data-bs-version="5.1" class="features1 cid-uhkdBDpVqc" id="features1-q">

            <div class="container">
                <div class="row">

                </div>
                <div class="row">
                    <div class="card col-12 col-md-6">
                        <div class="card-wrapper" style="display: flex; align-items: center; justify-content: space-between;">
                            <div class="card-box align-center">
                                <div class="iconfont-wrapper">
                                    <a href="/misClientes" oncancel=""><span class="mbr-iconfont mobi-mbri-arrow-prev mobi-mbri"></span></a>
                                </div>
                                <h3 class="card-title mbr-fonts-style display-7"><strong>Volver a mis clientes</a></strong></h3>
                            </div>
                            <div class="card col-12 col-md-6">
                                <h3 class="mbr-section-title align-center mb-3 mbr-fonts-style" mbr-theme-style="display-2" mbr-if="showTitle" data-app-selector=".mbr-section-title, .mbr-social-likes">
                                    <b>Compartir</b></h3>
                                <div>
                                    <div class="mbr-social-likes align-center" data-counters="false">
                                        <span mbr-if="whatsapp" class="btn btn-social whatsapp m-2">
                                            <a th:href="@{/tarjetaCliente/__${clientes.id}__}" target="_balnk" ><i class="mbr-iconfont mobi-mbri-share mobi-mbri"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="display-7" style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 4rem;">

        </section>
        <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
        <script src="/assets/smoothscroll/smooth-scroll.js"></script>  
        <script src="/assets/ytplayer/index.js"></script>  
        <script src="/assets/dropdown/js/navbar-dropdown.js"></script>  
        <script src="/assets/theme/js/script.js"></script>
        <script src="/assets/theme/js/usuario.js"></script>

    </body>
</html>